* {
  font-family: 'Garamond', sans-serif;
}

table {
  border: solid 2px black;
  border-collapse: collapse;
  background-color: lightgray;
}

th, td {
  border: solid 2px black;
  padding: 5px;
  text-align: center;
}
